.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.nav h2{
    color: violet;
    margin: 0;
    font-size: 40px;
}

.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.customeinput{
    width: 535px;
    height: 50px;
}

.customebtn{
    width: 100px;
    height: 50px;
    border: none;
}
.custommargin{
    margin-left: -195px;
}

.nav .nav-search input{
    flex: 1;    
}