<nav class="nav">
  <h2>E-Commerce</h2>
  <div class="nav-search">

      <input type="text" placeholder="Search for products" class="form-control customeinput">
  </div>
  <div class="custommargin">
      <button class="btn btn-outline-primary btn-lg customebtn" title="Search"><span class="glyphicon glyphicon-name">Search</span></button>
     

  </div>
  <ul>
      <li><a routerLink="/" class="btn btn-yellow">Home</a></li>
      <li><a routerLink="/seller-auth" class="btn btn-yellow">Seller</a></li>
      <li><a href="#" class="btn btn-yellow">Login</a></li>
      <li><a href="#" class="btn btn-yellow">Cart(0)</a></li>
     
  </ul>
</nav>